<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Income/Expense Detail</h4>

        <table class="table">
          <thead>
            <tr>
              <th>Description</th>
              <th>Amount</th>
              <th>Type</th>
              <th>Action</th>
            </tr>
          </thead>

          <tbody>
            @for (item of incomeExpenses; track item.id) {
            <tr>
              <td>{{ item.description }}</td>
              <td>{{ item.amount | currency }}</td>
              <td
                [class.text-success]="item.type === 'income'"
                [class.text-danger]="item.type === 'expense'"
              >
                {{ item.type }}
              </td>
              <td>
                <button class="btn btn-danger" (click)="deleteEntry(item.id)">
                  <i class="fa fa-trash"></i>
                  remove
                </button>
              </td>
            </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
